@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
	--light-green: #76BD22;
	--dark-green: #1B5633;
	--light-grey: #666;
   --error: #ff9696;
   --success:#96ff96;
	--white: #EEE;
    --black: #333;
	--box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	--border: .2rem solid rgba(0, 0, 0, .1);
	--outline: .1rem solid rgba(0, 0, 0, .1);
	--outline-hover: .2rem solid var(--dark-green);
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none; 
   border: none;
   text-decoration: none;
   color: var(--dark-green);
}

.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
   background: var(--white);
}

.form-container form {
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: white;
   text-align: center;
   width: 500px;
}

.form-container form h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.form-container form input {
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: var(--white);
   border-radius: 5px;
}

.form-container form select option {
   background: white;
}

.form-container form .form-btn {
   background: var(--light-green);
   color:var(--dark-green);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover {
   background: var(--dark-green);
   color:white;
}

.form-container form p {
   margin-top: 10px;
   font-size: 20px;
   color:var(--black);
}

.form-container form p a {
   color:var(--dark-green);
}

.form-container form p a:hover {
   color:var(--light-green);
}

.form-container  form  .error-signup {
   background-color: var(--error);
}

.form-container  form  .success-signup {
   background-color: var(--success);
}

.disappear {
   display: none;
}